# Compiled Object files
*.obj
*.pch
*.pdb
*.exe
*.dll
*.lib
*.app
*.dylib
*.ipa

# Build directories
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# IDE files
.vs/
.vscode/
*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Ignore backup files
*.log
*.tlog
*.tmp

# Rider/JetBrains
.idea/
*.iml
